html,
body {
    height: 100%;
    background-color: #ffffff;
}

/* Wrapper for page content to push down footer */
#domRoot {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px; /* respective of footer */
    padding: 0 0 60px; /* respective of footer */
}

/* Wrapper to push down from header */
#headerPad {
    background-color: #428bca;
    min-height: 55px;
}

#mainPanelWrap {
    border-right: 2px solid #aaaaaa;
    /* background-color: darksalmon; */
}

#mainPanel {
    overflow-y: scroll;
    height: auto;
    /* background-color: orange; */
}

#propPanel {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    height: auto;
    /* background-color: #fff5ba; */
}

#propPanel, #mainPanelWrap {
    height: 200px;
    /* border-left: 1px #808080 solid; */
    -webkit-transition: width 0.1s ease, margin 0.1s ease;
    -moz-transition: width 0.1s ease, margin 0.1s ease;
    -o-transition: width 0.1s ease, margin 0.1s ease;
    transition: width 0.1s ease, margin 0.1s ease;

}

#appContent {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    /* background-color: pink; */
}

#footer {
    height: 60px; /* respective of footer */
    background-color: #222222;
}

#footerText {
    color: #808080;
    padding: 0px;
    margin: 0px;
}

#appNavigator {
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #dddddd;
}

#appNavigator li {
    cursor: pointer;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 0px;
}

#appNavigator li:hover {
    /*bootstrap theme color*/;
    background-color: #428bca;
    color: white;
}

.noScroll {
    overflow: hidden;
}

#togglePanel {
    position: absolute;
    margin: 10px;
    right: 30px;
    z-index: 110;
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* -------------------------------------------
StackView CSS
---------------------------------------------- */

.slidePagesWrap {
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* =========================================
   StackView sliders
   =========================================
*/

/* =======================================
 Hardware accelerated horizontal
 =========================================
*/

/*
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
*/

/* =======================================
 Software accelerated horizontal
 =========================================
*/

.page.left {
    left: -100%;
}
.page.center {
    left: 0;
}
.page.right {
    left: 100%;
}
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/*
=========================================
Software accelerated vertical
=========================================
*/

/*
.page.left {
    top: -100%;
}
.page.center {
    top: 0;
}
.page.right {
    top: 100%;
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 0.65s;
}
*/

/*
=========================================
 Hardware accelerated vertical
=========================================
*/

/*
.page.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 3.25s;
}
*/

