@import url("_common/_js/bootstrap/css/bootstrap-glyphicons.css");

/***********************************
 StudioLite CSS tags styling
 ***********************************/

html,
body {
    height: 100%;
    background-color: #ffffff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: 12px;
}

/* todo: added */
i.fa {
    font-size: 14px;
}

@font-face {
    font-family: 'Jolly Lodger';
    font-style: normal;
    font-weight: 500;
    src: local('Jolly Lodger'), local('JollyLodger'), url(https://themes.googleusercontent.com/static/fonts/jollylodger/v1/RX8HnkBgaEKQSHQyP9itiaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

@font-face {
    font-family: 'Lobster Two';
    font-style: normal;
    font-weight: 500;
    src: local('Lobster Two'), local('LobsterTwo'), url(https://themes.googleusercontent.com/static/fonts/lobstertwo/v5/Law3VVulBOoxyKPkrNsAaIbN6UDyHWBl620a-IRfuBk.woff) format('woff');
}

a {
    text-decoration: none !important;
}

aside > aside > div > ul > li {
    display: block;
    width: 100px;
    list-style: none;
    height: 60px;
    float: left;
    background: #E2E2E2;
    border: 1px solid #666;
    margin-right: 30px;
    margin-left: 30px;
}

/************************************
 StudioLite CSS element styling
 ************************************/

/* Wrapper for page content to push down footer */
#domRoot {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px; /* respective of footer */
    padding: 0 0 60px; /* respective of footer */
}

#videoModalHeader {
    font-size: 22px;
    color: #428bca;
}

#videoModalHeaderLite {
    font-family: Lobster Two;
    font-size: 25px;
    color: #428bca;
}

/* Wrapper to push down from header */
#headerPad {
    background-color: #428bca;
    min-height: 55px;
}

#logoContainer {
    position: relative;
    top: 13px;
    left: 8px;
    float: left;
    padding: 0;
    margin: 0;
}

#logoContainer img {
    width: 39px;
    height: 25px;
}

#mainPanelWrap {
    border-right: 2px solid #aaaaaa;
    /* background-color: darksalmon; */
}

#campaignPanel {
    overflow-y: scroll;
    height: auto;
    /* background-color: orange; */
}

#resolutionSelector {
    overflow-y: scroll;
}

#channelBlockProps {
    padding-left: 20px;
}

iframe {
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
    background-color: black;
}

#cloudStorageUsage {
    position: relative;
    top: -122px;
    left: 20px;
}

#cloudStorage {
    height: 150px;
    width: 200px;
    padding: 0;
    margin: 0;
}

#cloudStoragePerc {
    position: relative;
    top: -100px;
    left: 75px;
}

#livePreviewWrap {
    width: 100%;
    height: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
}

#livePreviewButtons {
    padding-bottom: 10px;
}

#propPanel {
    margin: 0 auto;
    height: 100%;
    padding-top: 15px;
    /* overflow-y: scroll; */
    width: 250px; /* properties panel width we have to work with to display all app props */
    /* background-color: #fff5ba; */
}

#propPanel, #mainPanelWrap {
    height: 200px;
    /* border-left: 1px #808080 solid; */
    -webkit-transition: width 0.1s ease, margin 0.1s ease;
    -moz-transition: width 0.1s ease, margin 0.1s ease;
    -o-transition: width 0.1s ease, margin 0.1s ease;
    transition: width 0.1s ease, margin 0.1s ease;

}

#appContent {
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    /* background-color: pink; */
}

#footer {
    height: 60px; /* respective of footer */
    background-color: #222222;
}

#footerText {
    color: #808080;
    padding: 0px;
    margin: 0px;
}

#blockThickness {
    float: left;
    padding-top: 0;
    margin-top: 0;
    padding-left: 15px;
}

#blockThickness > span {
    float: left;
    padding-bottom: 10px;
}

#github {
    position: relative;
    top: -8px;
    float: right;
}

#github i {
    padding-left: 6px;
    font-size: 2em;
}

#appNavigator {
    padding: 0px;
    margin: 0px;
    background-color: #3e3f48;
    border-right: 1px solid #dddddd;
    /* enable following for dropshadow on appNavPanel */
    /*-webkit-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow: 2px 0px 5px 0px rgba(50, 50, 50, 0.75);*/
    z-index: 10;
}

#appNavigator li {
    cursor: pointer;
    background-color: #3e3f48;
    border-color: #3e3f48;
    padding-top: 15px;
    padding-bottom: 15px;
    border-right: 0px;
}

#appNavigator span, #appNavigator i {
    color: white;
}

#propPanelWrap {
    background-color: #f5f5f5;
}

#waitScreenMainPanel span {
    position: relative;
    left: 45%;
    top: 40%;
}

#appNavigator li:hover {
    /*bootstrap theme color*/;
    background-color: #428bca;
    color: white;
}

#rssLink {
    position: relative;
    top: -3px;
    border: 1px #cccccc solid;
}

#screenLayoutList {
    overflow-y: scroll;
    height: 80%;
}

#popModal {
    padding: 20px;
}

#openPopupProperties {
    float: right;
}

#screenSelectorContainer {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#screenLayoutsUL {
    width: 1500px;
}

#screenMainSelector {
    width: 100%;
}

#screenMainSelector > div {
    border: dashed #666666 3px;
    width: 240px;
    height: 150px
}

#screenMainSelector h1 {
    color: #999;
    margin-top: 0px;
    padding-top: 50px;
    font-size: 1em;
}

#togglePanel {
    position: absolute;
    margin: 10px;
    width: 35px;
    right: 30px;
    top: 15px;
    z-index: 110;
}

#campaignSelectionButtons {
    margin-top: 10px;
    margin-bottom: 5px;
}

#campaignProperties {
    padding-top: 10px;
    padding-right: 10px;
}

#timelineLength {
    margin-top: 20px;
}

#imgHorizontal {
    opacity: 0.6;
    cursor: pointer;
}

#delScreenButton {
    display: inline;
}

#resourcesListView {
    padding: 10px;
}

#stationcontrol {
    padding-top: 30px;
    position: relative;
}

#stationcontrol button {
    padding-left: 22px;
    padding-right: 22px;
}

#eventSendButton {
    padding-left: 40px;
    padding-right: 40px;
}

#dimensionApplyScene {
    margin-top: 5px;
    width: 157px;
    float: left;
}

#stationInfo {
    padding-top: 25px;
}

#stationInfo ul {
    text-align: left;
}

#snapShotWrap {
    position: relative;
    /* left: -40px; */
    width: 240px;
    height: 120px;
}

#snapShotSVG {
    top: 0px;
    left: 0px;
    /* position: absolute; */
    width: 240px;
    height: 140px;
}

#snapShotImage {
    top: 15px;
    left: 15px;
    position: absolute;
    width: 210px;
    height: 110px;
}

#snapShotSpinner {
    top: 50px;
    left: 100px;
    position: absolute;
    padding: 0;
    margin: 0;
}

#imgVertical {
    opacity: 0.6;
    cursor: pointer;
}

#fileRemove {
    float: left;
    margin-right: 30px;
}

#stationProperties {
    margin: 0 auto;
    width: 100%;
}

#stationListView {
    padding-top: 10px;
    padding-bottom: 10px;
}

#stationRemove {
    margin-top: 10px;
}

#stationAlert {
    margin-right: 10px;
    margin-top: 20px;
}

#stationSelectionCampaignWrap {
    width: 238px;
    margin-top: 10px;
}

#stationSendEventValue {
    width: 238px;
}

#stationEventSendCommand {
    width: 238px;
}

.settingsItem {
    padding-top: 30px;
}

#stationPollSliderText {
    float: left;
}

#stationPollSliderWrap {
    padding-left: 180px;
    padding-right: 70px;
}

#stationPollLabel {
    float: right;
    position: relative;
    top: -20px;
}

#blockPropertiesTabber {
    position: relative;
    top: 2px;
}

#sceneAddNewBlock {
    padding-top: 10px;
}

#dimensionPropsTemplate {
    padding-left: 20px;
}

#sceneStackView {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#scenePanelWrap {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#sceneToolbar {
    padding-bottom: 20px;
    padding-top: 20px;
}

#sceneToolbar .input-group {
    width: 74px;
    float: left;
    margin-left: 3px;
}

#sceneSelectionDropdown {
    width: 67px !important;
}

#sceneCanvasContainer {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    -webkit-user-select: none;
    /* opacity: 0.01; */
}

#dashboardStationTotal {
    float: left;
    border-right: solid #DDDDDD 1px;
    padding-right: 15px;
}

#dashboardTotalStation {
    font-size: 60px;
    position: relative;
    top: 8px;
}

#donutStations {
    float: left;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
}

#storylineCollapsible {
    padding-bottom: 0;
    margin-bottom: 0;
}
#storyLine {
    display: none;
    font-family: monospace;
}

#storyLine span {
    font-family: arial;
    font-size: 11px;
    float: left;
    position: relative;
    top: 6px;
    padding-left: 3px;
}

#storylineContainer {
    background-color: #f7f7f7;
    width: 100%;
    float: left;
    border-top: 0px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 1px;
    position: relative;
    top: -17px
}

#videoModalDialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#videoModalContent {
    height: 100%;
    border-radius: 0;
}

#closeModal {
    width: 120px;
    position: relative;
    left: 5px;
}
 

/* todo: added */

.checkers {
    background-image: url(data:image/gif;base64,R0lGODlhCgAKAIAAAOLi4v///yH5BAAHAP8ALAAAAAAKAAoAAAIRhB2ZhxoM3GMSykqd1VltzxQAOw==);
    display: inline-block;
}

.grid25 {
    background-image: url(data:image/gif;base64,R0lGODlhGQAZAKIAAAAAAP///+rq6tLS0v///wAAAAAAAAAAACH5BAEAAAQALAAAAAAZABkAAAM2OLrc3iLKSWtUNmesu+ReB4bbQIrmWaorW43ulcbfTAtwnLs726u/U5A0DBU9R9SttpQ9ntAEADs=);
    display: inline-block;
}

.grid50 {
    background-image: url(data:image/gif;base64,R0lGODlhMgAyAKIAAAAAAP///+rq6tLS0v///wAAAAAAAAAAACH5BAEAAAQALAAAAAAyADIAAAN8OLrc/jA6Qau9OOtdFf9gSHliaY7DqYbk6mbtK6NzLcT2iufnzpe+HyslVAWLnCNSo1ximk4LNEqjgqZUbFTr5C69SHBRLCT/zDx0Tm1j19wzuEz+orvsOqI1qd8z+35PgIFSg4RVhxd4RoaHiz2NhI8mk0CRgRKZmpsNCQA7);
    display: inline-block;
}

.installopts li {
    height: 40px;
    min-height: 40px;
    overflow: hidden;
}

.installs {
    font-size: 22px !important;
    margin-right: 5px  !important;
    color: #4a4a4a !important;
    opacity: 0.8 !important;
}

.installs:hover {
    opacity: 1 !important;
}

.hiddenElement {
    display: none;
}

.shownElement {
    display: block;
}

.dashboardBullets {
    font-size: 15px;
}

/************************************
 StudioLite class styling
 ************************************/

.scalaRuler {
    border: 0;
    /* border-bottom: 1px dashed #ccc; */
    border-top: 1px solid #ccc;
    background: #737373;
}

.scalaNum {
    color: #d3d3d3;
}

.scalaDiv {
    position: relative;
    top: -15px;
    left: -10px;
    color: #d3d3d3;
}

/*
.scalaDiv:first-child {
    position: relative;
    left: -3px;
    top: -5px;
}

.scalaDiv:last-child {
    position: relative;
    left: 10px;
    top: -5px;
}
*/

/* todo: added */
.topDrag {
    z-index: 2;
    position: relative
}

/* todo: added */
.bottomDrag {
    z-index: 1;
    position: relative
}

.channelHead {
    width: 20px;
    height: 30px;
    background-color: #737373;
    float: left;
    color: #bcbcbc;
    cursor: pointer;
    padding-top: 6px;
}

.channelHead:hover {
    opacity: 0.8;
}

.channelHeadSelected {
    background-color: #428ac9 !important;
}

/* todo: added */
#installPanel i {
    font-size: 50px;
    color: #428ac9;
    opacity: 0.5;
    cursor: pointer;
}
/* todo: added */
#installPanel i:hover {
    opacity: 1;
}

/* todo: added */
.storylineChannel {
    margin-bottom: 1px;
    border-bottom: 1px solid #d0d0d0;
    height: 32px;
    float: left;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.storylineChannel:hover {
    background-color: #f0f0f0;
}

.storylineChannel:last-child {
    border-bottom: 0;
}

.channelBodyContainer {
    width: 837px;
    float: left;
}

.channelBody {
    width: 100%;
    padding: 0;
    margin: 0;
    float: left;
}

.timelineBlock {
    float: left;
    background-color: #e6e6e6;
    border: 1px solid #cacaca;
    height: 30px;
    display: inline-block;
}

.timelineBlockSelected {
    background-color: #428ac9 !important;
}

.timelineBlock span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.timelineBlock i {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    font-size: 20px;
    color: #424551;
    padding-top: 4px;
    padding-left: 4px;
}

.timelineBlock:hover {
    border-color: #737373;
}

.cloudStorageCapacity {
    position: relative;
    top: -111px;
    left: 4px;
    display: inline-block;
}

.basicBorder {
    border: 1px solid rgb(170, 170, 170);
}

.lockPosition input {
    position: relative;
    left: 50px;
}

.draggableScreenPlaceHolder {
    position: relative;
    top: 0px;
    height: 3px;
    width: 3px;
    background-color: red;
    opacity: 0.6
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #428bca
}

.noScroll {
    overflow: hidden;
}

.noXScroll {
    overflow-x: hidden;
}


.noTopBorder {
    border-top: none;
}

.yScroll {
    overflow-y: scroll;
    height: 100%;
}

.xyScroll {
    overflow: scroll;
    height: 100%;
}

.pushToTopButton {
    margin-top: 30px;
    width: 150px;
}

.appList {
    padding-right: 10px;
}

.appList .openProps {
    float: right;
    position: relative;
    top: -45px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.screenResolutionLabel {
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
}

.centerElement {
    margin: 0 auto;
}

.navbar-nav {
    display: none;
}

* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

.propControlWidth {
    width: 180px;
}

.stationListItems {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 0px;
}

.stationListItems span {
    display: inline;
}

.screenDivisionClass {
    cursor: pointer;
}

.blockLengthTimer {
    float: right;
    padding-top: 10px;
}

.alignTextLeft {
    text-align: left;
}

.alignTextCenter {
    text-align: center;
}

.navicons {
    font-size: 1.2em;
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.gencons {
    font-size: 1.2em;
    position: relative;
    top: 2px;
    padding-right: 5px;
}

.dottedHR {
    height: 6px;
    width: 1500px;
    position: relative;
    border-top: 12px dotted #c1c1c1;
    padding-bottom: 7px;
    top: 20px;
}

.activated {
    background-color: #428bca;
    color: white;
}

.whiteFont {
    color: white;

}

.pricingContainer {
    padding-top: 40px;
}

.price {
    font-size: 25px;
    float: left;
}

.pricing_header1 {
    background: none repeat scroll 0% 0% rgb(0, 181, 255);
    border-radius: 5px 5px 0px 0px;
}

.pricing_header2 {
    background: none repeat scroll 0% 0% rgb(0, 121, 171);
    border-radius: 5px 5px 0px 0px;
}

.pricing_header3 {
    background: none repeat scroll 0% 0% rgb(0, 81, 115);
    border-radius: 5px 5px 0px 0px;
}

.pricing_headerh2 {
    text-align: center;
    line-height: 25px;
    padding: 15px 0px;
    margin: 0px;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
}

.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.btnPrice {
    float: right;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}

.off {
    text-decoration: line-through;
    color: rgb(86, 86, 86);
}

.space {
    height: 2px;
    background-color: #75b1ae;
}

.tooltip-inner {
    min-width: 150px;
}

.resourcesListItems {
    cursor: pointer;
}

.resourcesListItems i {
    font-size: 40px;
    display: inline;
    padding-right: 20px;
}

.resourcesListItems span {
    display: inline;
    font-size: 1.5em;
    position: relative;
    top: -12px;
}

.channelListItems {
    cursor: pointer;
}

.channelListItems a i {
    display: inline;
    font-size: 40px;
    padding-right: 20px;
}

.channelListItems a span {
    display: inline;
    font-size: 1.5em;
    position: relative;
    top: -12px;
}

.addBlockListItems {
    cursor: pointer;
}

.addBlockListItems i {
    font-size: 40px;
    display: inline;
    padding-right: 20px;
}

.addBlockListItems span {
    display: inline;
    font-size: 1.5em;
    position: relative;
    top: -8px
}

.addBlockListItems:hover {
    background-color: #f5f5f5;
}

/************************************
 StackView styling
 ************************************/

.campaignSlider {
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.page {
    position: absolute;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/************************************
   StackView sliders
/************************************

/************************************
 Hardware accelerated horizontal
/************************************

/*
.page.left {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
*/

/************************************
 Software accelerated horizontal
/************************************
*/

.page.left {
    left: -100%;
}

.page.center {
    left: 0;
}

.page.right {
    left: 100%;
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}

/************************************
Software accelerated vertical
/************************************

/*
.page.left {
    top: -100%;
}
.page.center {
    top: 0;
}
.page.right {
    top: 100%;
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 0.65s;
}
*/

/************************************
 Hardware accelerated vertical
/************************************

/*
.page.left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.page.right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}
.page.transition {
    -webkit-transition-duration: 3.25s;
    transition-duration: 3.25s;
}
*/

/************************************
 No UI Slider
 ************************************/

.noUi-target,
.noUi-target * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    /* This class is applied to the lower origin when
       its values is > 50%. */
    z-index: 10;
}

.noUi-stacking + .noUi-origin {
    /* Fix stacking order in IE7, which incorrectly
       creates a new context for the origins. */
    *z-index: -1;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left 0.3s, top 0.3s;
    transition: left 0.3s, top 0.3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

/* Slider size and handle placement;
 */
.noUi-horizontal {
    height: 18px;
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
}

.noUi-horizontal.noUi-extended {
    padding: 0 15px;
}

.noUi-horizontal.noUi-extended .noUi-origin {
    right: -15px;
}

.noUi-vertical {
    width: 18px;
}

.noUi-vertical .noUi-handle {
    width: 28px;
    height: 34px;
    left: -6px;
    top: -17px;
}

.noUi-vertical.noUi-extended {
    padding: 15px 0;
}

.noUi-vertical.noUi-extended .noUi-origin {
    bottom: -15px;
}

/* Styling;
 */
.noUi-background {
    background: #428bca;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    background: #3FB8AF;
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}

.noUi-target.noUi-connect {
    box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}

/* Handles and cursors;
 */
.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    background: #FFF;
    cursor: default;
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}

/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
    content: "";
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #E8E7E6;
    left: 14px;
    top: 6px;
}

.noUi-handle:after {
    left: 17px;
}

.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
    background: #B8B8B8;
}

[disabled] .noUi-handle {
    cursor: not-allowed;
}

/* Blocked state;  */
.noUi-state-blocked.noUi-connect,
.noUi-state-blocked .noUi-connect {
    background: #4FDACF;
}

/************************************
 ColorPicker
 ************************************/

.colorpicker {
    width: 356px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(./_assets/custom_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
    z-index: 500;
}

.color-chooser {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background: url("./_assets/select.png") center;
}

.color-chooser > div {
    width: 30px;
    height: 30px;
    background: url("./_assets/select.png") center;
}

.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}

.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(./_assets/colorpicker_overlay.png);
}

.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(./_assets/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}

.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}

.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(./_assets/custom_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0px;
}

.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}

.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}

.colorpicker input {
    background-color: transparent;
    border: 1px solid transparent;
    position: absolute;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #898989;
    top: 4px;
    right: 11px;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 11px;
}

.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    background: url(./_assets/custom_hex.png) top;
    left: 212px;
    top: 142px;
}

.colorpicker_hex input {
    right: 6px;
}

.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}

.colorpicker_field > input {
    width: 42px;
}

.colorpicker_hex > input {
    width: 42px;
}

.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}

.colorpicker_rgb_r {
    background-image: url(./_assets/custom_rgb_r.png);
    top: 52px;
    left: 212px;
}

.colorpicker_rgb_g {
    background-image: url(./_assets/custom_rgb_g.png);
    top: 82px;
    left: 212px;
}

.colorpicker_rgb_b {
    background-image: url(./_assets/custom_rgb_b.png);
    top: 112px;
    left: 212px;
}

.colorpicker_hsb_h {
    background-image: url(./_assets/custom_hsb_h.png);
    top: 52px;
    left: 282px;
}

.colorpicker_hsb_s {
    background-image: url(./_assets/custom_hsb_s.png);
    top: 82px;
    left: 282px;
}

.colorpicker_hsb_b {
    background-image: url(./_assets/custom_hsb_b.png);
    top: 112px;
    left: 282px;
}

.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(./_assets/custom_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}

.colorpicker_focus {
    background-position: center;
}

.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}

.colorpicker_slider {
    background-position: bottom;
}

/************************************
 Gradient picker
 ************************************/

#bgColorGradientSelector {
    width: 180px;
    height: 20px;
    margin-bottom: 32px;
}

.gradientPicker-preview {
    width: 200px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;*/
}

.gradientPicker-ctrlPt {
    width: 8px;
    height: 8px;
    border: 2px solid gray;
    position: absolute;
    display: inline-block;
}

.gradientPicker-ctrlPts {
    position: relative;
    height: 10px;
    width: 190px;
}

.gradientPicker-ptConfig {
    position: absolute;
    width: 35px;
    height: 40px;
    z-index: 1;
    margin-top: 2px;

    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 3px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gradientPicker-close {
    position: absolute;
    top: -4px;
    right: -4px;
    /*font-size: 18px;
    font-weight: bold;
    color: black;
    line-height: 20px;
    text-shadow: 0 1px 0 white;
    opacity: 0.2;
    filter: alpha(opacity=20);*/
    width: 16px;
    height: 16px;
    background-image: url("./_assets/circle_remove.png");
}

.gradientPicker-ptConfig .color-chooser {
    float: left;
}

.clearFloat {
    clear: both;
}

.floatLeftWidth {
    float: left;
    width: 60px;
}

.hrThin {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #535353;
}

.hrThinDash {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #535353;
    border-top: 1px solid #DDDDDD !important;
    position: relative;
    left: -50px;
    width: 240px;
}

/************************************
 Font Selector / Formatter
 ************************************/

.fontFormatter {
    float: left;
    margin-left: 5px;
}

.fontAlignment {
    float: left;
    margin-left: 4px;
    width: 33px;
    position: relative;
    top: -2px;
    left: -15px;
}

.divPadding {
    padding: 5px;
}

/************************************
 fuelux
 ************************************/

.spinner .btn {
    position: relative;
    width: 20px;
    height: 14px;
    padding-top: 0;
    padding-right: 9px;
    padding-left: 9px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
!important;
    border-bottom-left-radius: 0;
!important;
}

.spinner .btn.disabled {
    cursor: not-allowed;
}

i .spinner-buttons {
    font-size: 0.9em;
}

.spinner .spinner-buttons {
    position: relative;
    left: -22px;
    float: left;
    width: 20px;
    height: 28px;
}

.spinner .spinner-up {
    top: 1px;
    left: 1px;
    padding: 0 0 4px 1px;
}

.spinner .spinner-up i {
    position: relative;
    top: -4px;
}

.spinner .spinner-down {
    top: -1px;
    height: 13px;
    left: 1px;
    padding: 0 0 4px 1px;
}

.spinner .spinner-down i {
    position: relative;
    top: -5px;
}

.input-mini {
    width: 60px;
    height: 26px;
    border: 1px solid #d7d7d7;
    border-radius: 5px
}

.spinner input {
    float: left;
    width: 180px;
}

#rssPollSpinner .squareButton {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
!important;
    border-bottom-right-radius: 0;
!important;
    border-bottom-left-radius: 0;
!important;
    border-top-left-radius: 0;
!important;
    border-top-right-radius: 0;
!important;
}

/************************************
Language selector
************************************/
.dropdownlang dd, .dropdownlang dt, .dropdownlang ul {
    margin: 0px;
    padding: 0px;
}

.dropdownlang dd {
    position: relative;
}

.dropdownlang a, .dropdownlang a:visited {
    color: #816c5b;
    text-decoration: none;
    outline: none;
}

.dropdownlang a:hover {
    color: #5d4617;
}

.dropdownlang dt a:hover {
    color: #5d4617;
    border: 1px solid #d0c9af;
}

.dropdownlang dt a {
    background: #e4dfcb url(_assets/arrow.png) no-repeat scroll right center;
    display: block;
    padding-right: 20px;
    border: 1px solid #d4ca9a;
    width: 300px;
}

.dropdownlang dt a span {
    cursor: pointer;
    display: block;
    padding: 5px;
}

.dropdownlang dd ul {
    background: #e4dfcb none repeat scroll 0 0;
    border: 1px solid #d4ca9a;
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 5px 0px;
    position: absolute;
    top: 2px;
    width: auto;
    min-width: 300px;
    list-style: none;
}

.dropdownlang span.value {
    display: none;
}

.dropdownlang dd ul li a {
    padding: 5px;
    display: block;
}

.dropdownlang dd ul li a:hover {
    background-color: #d0c9af;
}

.dropdownlang img.flag {
    border: none;
    vertical-align: middle;
    margin-right: 10px;
}

.video-js { background-color: white; }

.video-js {
    /*  width: 100% !important; */
}

.vjs-fullscreen-control {
    display: none;
}

.vjs-volume-control {
    width: 50px;
    right: 85px;
}

/*
i.fa {
    -webkit-animation: show 1s 1;
}
@-webkit-keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
*/

/************************************
minicolors
************************************/

.minicolors {
    position: relative;
}

.minicolors-swatch {
    position: absolute;
    vertical-align: middle;
    background: url(./_assets/jquery.minicolors.png) -80px 0;
    border: solid 1px #ccc;
    cursor: text;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.minicolors-swatch-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.minicolors input[type=hidden] + .minicolors-swatch {
    width: 28px;
    position: static;
    cursor: pointer;
}

/* Panel */
.minicolors-panel {
    position: absolute;
    width: 173px;
    height: 152px;
    background: white;
    border: solid 1px #CCC;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, .2); */
    box-shadow: none;
    z-index: 99999;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    display: none;
}

.minicolors-panel.minicolors-visible {
    display: block;
}

/* Panel positioning */
.minicolors-position-top .minicolors-panel {
    top: -154px;
}

.minicolors-position-right .minicolors-panel {
    right: 0;
}

.minicolors-position-bottom .minicolors-panel {
    top: auto;
}

.minicolors-position-left .minicolors-panel {
    left: 0;
}

.minicolors-with-opacity .minicolors-panel {
    width: 194px;
}

.minicolors .minicolors-grid {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 150px;
    height: 150px;
    background: url(./_assets/jquery.minicolors.png) -120px 0;
    cursor: crosshair;
}

.minicolors .minicolors-grid-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: none;
}

.minicolors-slider-saturation .minicolors-grid {
    background-position: -420px 0;
}

.minicolors-slider-saturation .minicolors-grid-inner {
    background: url(./_assets/jquery.minicolors.png) -270px 0;
}

.minicolors-slider-brightness .minicolors-grid {
    background-position: -570px 0;
}

.minicolors-slider-brightness .minicolors-grid-inner {
    background: black;
}

.minicolors-slider-wheel .minicolors-grid {
    background-position: -720px 0;
}

.minicolors-slider,
.minicolors-opacity-slider {
    position: absolute;
    top: 1px;
    left: 152px;
    width: 20px;
    height: 150px;
    background: white url(./_assets/jquery.minicolors.png) 0 0;
    cursor: row-resize;
}

.minicolors-slider-saturation .minicolors-slider {
    background-position: -60px 0;
}

.minicolors-slider-brightness .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-slider-wheel .minicolors-slider {
    background-position: -20px 0;
}

.minicolors-opacity-slider {
    left: 173px;
    background-position: -40px 0;
    display: none;
}

.minicolors-with-opacity .minicolors-opacity-slider {
    display: block;
}

/* Pickers */
.minicolors-grid .minicolors-picker {
    position: absolute;
    top: 70px;
    left: 70px;
    width: 12px;
    height: 12px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: -6px;
    margin-left: -6px;
    background: none;
}

.minicolors-grid .minicolors-picker > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 8px;
    border-radius: 8px;
    border: solid 2px white;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.minicolors-picker {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 2px;
    background: white;
    border: solid 1px black;
    margin-top: -2px;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* Inline controls */
.minicolors-inline {
    display: inline-block;
}

.minicolors-inline .minicolors-input {
    display: none !important;
}

.minicolors-inline .minicolors-panel {
    position: relative;
    top: auto;
    left: auto;
    box-shadow: none;
    z-index: auto;
    display: inline-block;
}

/* Default theme */
.minicolors-theme-default .minicolors-swatch {
    top: 5px;
    left: 5px;
    width: 18px;
    height: 18px;
}

.minicolors-theme-default.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 5px;
}

.minicolors-theme-default.minicolors {
    width: auto;
    display: inline-block;
}

.minicolors-theme-default .minicolors-input {
    height: 20px;
    width: auto;
    display: inline-block;
    padding-left: 26px;
}

.minicolors-theme-default.minicolors-position-right .minicolors-input {
    padding-right: 26px;
    padding-left: inherit;
}

/* Bootstrap theme */
.minicolors-theme-bootstrap .minicolors-swatch {
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    border-radius: 3px;
}

.minicolors-theme-bootstrap.minicolors-position-right .minicolors-swatch {
    left: auto;
    right: 3px;
}

.minicolors-theme-bootstrap .minicolors-input {
    padding-left: 44px;
}

.minicolors-theme-bootstrap.minicolors-position-right .minicolors-input {
    padding-right: 44px;
    padding-left: 12px;
}

.minicolor-mini {
    color: #ffffff;
    width: 30px;
    border: 0px;
}

.flip {
    -webkit-perspective: 800;
    -ms-perspective: 800;
    -moz-perspective: 800;

    width: 39px;
    height: 25px;
    position: relative;
    margin: 50px auto;
}

.flip .card.flipped {
    -webkit-transform: rotatey(-180deg);
    -ms-transform: rotatey(-180deg);
    -moz-transform: rotatey(-180deg);
}

.flip .card {
    width: 39px;
    height: 25px;
    -webkit-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;

    -webkit-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
}

.flip .card .face {
    width: 39px;
    height: 25px;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    z-index: 2;
    font-size: 3em;
    text-align: center;
    line-height: 39px;
}

.flip .card .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.flip .card .back {
    -webkit-transform: rotatex(-180deg);
    -ms-transform: rotatex(-180deg);
    -moz-transform: rotatex(-180deg);
    cursor: pointer;
}
