<!-- ////////////////////////////// -->
<!-- Storyboard underscore template -->
<!-- ////////////////////////////// -->

<!-- Storyboard time scala -->

<div>
    <table width="100%">
        <tr class="scalaRuler">
            <td class="scalaNum <%= burger %>">
                <%= pizza %>
            </td>
            <td class="scalaNum">
                <%= pizza %>
            </td>
            <td class="scalaNum">
                <%= pizza %>
            </td>
            <td class="scalaNum">
                <%= pizza %>
            </td>
            <td class="scalaNum">
                <%= pizza %>
            </td>
            <td class="scalaNum">
                <%= pizza %>
            </td>
            <td class="scalaNum" width=1%>
                <%= pizza %>
            </td>
        </tr>
        <tr>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv" width=1%>
                |
            </td>
        </tr>
    </table>
</div>

<div id="storylineContainer" align="center" class="centerContent">

    <!-- Channel insert -->

    <div style="clear: both; height: 2px"></div>
    <hr/>
</div>

<!-- Channel -->

<div class="channel">
    <div class="channelHead">
        <%= pizza %>
    </div>
    <div class="channelBodyContainer">
        <div class="channelBody">

            <!-- Timeline block insert -->

        </div>
    </div>
</div>

<!-- Timeline block -->

<div class="timelineBlock" style="width: <%= pizza %>; background-color: <%= pizza %>">
    <span><%= pizza %></span>
</div>