<!-- ////////////////////////////// -->
<!-- Storyboard underscore template -->
<!-- ////////////////////////////// -->

<!-- Storyboard time scala -->

<div>
    <table width="100%">
        <tr class="scalaRuler">

            <!-- insert scala value -->

        </tr>
        <tr>
            <td class="scalaDiv" style="visibility: hidden">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
            <td class="scalaDiv">
                |
            </td>
        </tr>
    </table>
</div>


<div>
    <div id="storylineContainer" align="center" class="centerContent">

        <!-- Channel insert -->
        <section/>
        <div style="clear: both; height: 2px"></div>
    </div>
</div>

<!-- Channel -->
<div>
    <div class="storylineChannel">
        <div class="channelHead">
            <%= value %>
        </div>
        <div class="channelBodyContainer">
            <div class="channelBody">

                <!-- Timeline block insert -->

            </div>
        </div>
    </div>
</div>

<!-- Timeline block -->

<div>
    <div class="timelineBlock">
        <span class="crop"><%= label %></span>
    </div>
</div>