<input type="text" name="hour" [(ngModel)]="hoursOutput" (focus)="setFocus($event, 'hour')" (keypress)="inputTime($event)" (keyup)="keyUp($event)" />
<input type="text" name="minute" [(ngModel)]="minutesOutput" (focus)="setFocus($event, 'minute')" (keypress)="inputTime($event)" (keyup)="keyUp($event)" />
<input type="text" name="second" [(ngModel)]="secondsOutput" (focus)="setFocus($event, 'second')" (keypress)="inputTime($event)" (keyup)="keyUp($event)" />

<button (mousedown)="mouseDownIncrement()" (mouseup)="mouseUpIncrement()">+</button>
<button (mousedown)="mouseDownDecrement()" (mouseup)="mouseUpDecrement()">-</button>
