<input type="text" name="hour" id="hour"  [value]="hour" (focus)="setFocus('hour')" (keyup)="validate()">
<input type="text" name="minute" id="minute"  [value]="minute" (focus)="setFocus('minute')" (keyup)="validate()">
<input type="text" name="second" id="second"  [value]="second" (focus)="setFocus('second')" (keyup)="validate()">

<input type="button" name="incrementBtn" id="incrementBtn" value="+"  (mousedown)="onEventIncrement($event)" (mouseup)="onEventIncrement($event)">
<input type="button" name="decrementBtn" id="decrementBtn" value="-" (mousedown)="onEventDecrement($event)" (mouseup)="onEventDecrement($event)">
