<small class="debug">{{me}}</small>
<Logo class="pull-left" *ngIf="isBrandingDisabled" style="padding-left: 5px; padding-top: 5px"></Logo>
<reseller-logo class="pull-left" *ngIf="!isBrandingDisabled" style="padding-left: 5px; padding-top: 5px"></reseller-logo>
<span style="font-size: 20px; padding-top: 4px; padding-left: 4px" class="pull-left">MediaSignage Inc</span>
<div class="clearfix"></div>
<hr/>
<h4>{{clock$ | async | date:'medium'}}</h4>
<hr/>
<h3 style="color: green"><i class="fa fa-check-circle"></i> mode: online</h3>
<hr/>
<h5>Quick help:</h5>
<div *ngIf="isBrandingDisabled" style="padding-left: 5px; padding-top: 5px">
    <ul class="user-controls">
        <li><a style="" href="#"><span style="margin-left:3px;" class="fa fa-cog"></span> DigitalSignage.com</a></li>
        <li><a style="" href="#"><span style="margin-left:3px;" class="fa fa-cog"></span> Videos</a></li>
        <li><a style="" href="#"><span style="margin-left:3px;" class="fa fa-cog"></span> Webinar</a></li>
        <li><a style="" href="#"><span style="margin-left:3px;" class="fa fa-cog"></span> Forum</a></li>
    </ul>
</div>
<hr/>
<h5>User: {{(m_userModel$ | async).getUser()}}</h5>
<h5>Business id: {{(m_userModel$ | async).businessId()}}</h5>
<h5>server : {{(m_userModel$ | async).getPartialDomain()}}</h5>
<h5>app version: {{version}}</h5>
<h5>framework version: {{ngVersion}}</h5>
<hr/>
